:root {
  
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 5px;
  }
.safety{
    width: 75%;
    margin: 0 auto;
  }
  
  .safety hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
  }

  .aboutPage {
    padding-top: 5rem;
    padding-bottom: 2rem;
  
  
    .description {
      padding-top: 2rem;
  
      .sigleGrid {
        h2 {
          color: #3f6c29 ;
          font-size: 20px;
          padding-bottom: 1rem;
        }
        p {
          color: var(--blackColor);
          font-size:20px;
          line-height: 2rem;
        }
      }
    }
}

.img-fluid{
    width: 100%;
}